.rsvp {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px; 
    width: 100px; 
    margin:auto ;
    border-color: gold;
    border-radius: 5px; 

}